<?xml version='1.0' encoding='utf-8'?>
<widget id="com.im.sly.teacher" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ImSly</name>
    <description>
        This App will teach newbie programmers
    </description>
    <author email="nasa.sly14@gmail.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access launch-external="yes" origin="*" />
    <allow-navigation href="https://*/*"/>
    <allow-navigation href="http://*/*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <preference name="SplashScreen" value ="none" />
    <preference name="AndroidLaunchMode" value="singleTask"/>
    <preference name="BackgroundColor" value="ffffffff"/>
    <preference name="prerendered-icon" value="false"/>
</widget>
